[Desktop Entry]
Name=Undereat Material
GenericName=Restaurant List
StartupWMClass=UndereatMainKt
Comment=Undereat
Exec=undereat_material/bin/undereat_material %U
Icon=undereat_material
MimeType=application/x-undereat-db
Terminal=false
Type=Application
Categories=Utility;
